Repository dsomni/accept_front, pull requests merged in 2022-09, with the labels that each got.

#46 Bugfix #01.09.2022
  README.md
  ckeditor5-custom/build/ckeditor.js
  ckeditor5-custom/build/translations/en.js
  pages/api/auth/refresh.ts
  pages/api/auth/signin.ts
  pages/task/[spec]/index.tsx
  src/components/Assignment/Description/Description.tsx
  src/components/Profile/Profile.tsx
  src/components/Profile/ProfileLink/ProfileLink.tsx
  src/components/Profile/ProfileLink/profileLink.module.css
  src/components/ui/PrimitiveTaskTable/PrimitiveTaskTable.tsx
  src/components/ui/basics/CustomEditor/CustomEditor.tsx
  src/constants.json
  src/constants/url.ts
  src/hooks/useLocale.tsx
  src/hooks/useUser.tsx
  src/utils/cookies.ts
  yarn.lock
Labels: bug, assignment, user, auth

#50 Notification v2.0.0
  pages/api/notification/sent.ts
  pages/edu/assignment/add.tsx
  pages/edu/assignment/edit/[spec]/index.tsx
  src/components/Assignment/Form/Form.tsx
  src/components/Assignment/Form/Origin/Origin.tsx
  src/components/Assignment/Form/Origin/origin.module.css
  src/components/Notification/Form/Form.tsx
  src/components/Notification/List/NotificationList.tsx
  src/components/Notification/ReadModal/ReadModal.tsx
  src/components/Notification/ReadModal/readModal.module.css
  src/components/Task/Form/Tests/Tests.tsx
  src/components/ui/ProfileMenu/ProfileMenu.tsx
  src/components/ui/ProfileMenu/profileMenu.module.css
  src/hooks/useBackNotifications.tsx
  src/hooks/useUser.tsx
  src/locale/en/helpers/notification.ts
  src/locale/en/notification/index.ts
  src/locale/en/profile/index.ts
  src/locale/ru/helpers/notification.ts
  src/locale/ru/notification/index.ts
  src/locale/ru/profile/index.ts
  src/requests/request.ts
  src/types/data/notification.ts
  src/utils/cookies.ts
Labels: notification, auth

#60 Permissions v1.0.0
  middleware.ts
  pages/403.tsx
  pages/500.tsx
  pages/_app.tsx
  pages/edu/assignment/list.tsx
  pages/edu/assignment_schema/[spec]/index.tsx
  pages/task/[spec]/index.tsx
  pages/task/list.tsx
  src/components/Dashboard/Results/Results.tsx
  src/components/MainPage/TopContent/topContent.module.css
  src/constants/protectedRoutes.ts
  src/hooks/useUser.tsx
  src/layouts/TaskLayout.tsx
  src/locale/en/errorPage.ts
  src/locale/ru/errorPage.ts
  src/utils/fetchWrapper.ts
Labels: group, task, assignment, user, notification, auth, profile, tournament, attempt
