Repository dsomni/accept_front, pull requests merged in 2022-08, with the labels that each got.

#24 Group v1.1
  pages/group/add.tsx
  pages/group/edit/[spec].tsx
  pages/test/index.tsx
  src/components/Group/Form/Form.tsx
  src/locale/en/group/index.ts
  src/locale/ru/group/index.ts
  src/types/data/IGroup.ts
Labels: group

#25 Task v1.3.1
  pages/task/add.tsx
  pages/task/edit/[spec]/index.tsx
  pages/task/list.tsx
  src/types/data/ITask.ts
Labels: task

#26 Task v1.4.0
  .env.development
  next.config.js
  pages/_app.tsx
  pages/api/assignment_schema/[spec].ts
  pages/edu/assignment_schema/[spec]/index.tsx
  pages/task/[spec]/index.tsx
  src/components/Task/Results/Results.tsx
  src/components/Task/Send/Send.tsx
  src/layouts/TaskLayout.tsx
  src/utils/getServerUrl.ts
Labels: task

#30 Task 1.5.0
  pages/api/assignment/tasks/[spec].ts
  pages/api/assignment_schema/[spec].ts
  pages/task/[spec]/index.tsx
  src/components/Task/Send/Send.tsx
  src/components/ui/TasksBar/TasksBar.tsx
  src/components/ui/TasksBar/tasksBar.module.css
  src/types/data/ITask.ts
Labels: task

#36 Task v1.6.0
  pages/task/[spec]/index.tsx
  src/components/Task/Form/Form.tsx
  src/components/Task/Form/MainInfo/MainInfo.tsx
  src/components/Task/SendText/SendText.tsx
  src/components/Task/SendText/sendText.module.css
  src/locale/en/task/index.ts
  src/locale/ru/task/index.ts
  src/types/data/ITask.ts
Labels: task

#43 Profile v1.1.0
  pages/api/notification/addBundle.ts
  src/components/Notification/Form/Form.tsx
  src/components/Profile/CreateNotification/CreateNotification.tsx
  src/components/Profile/CreateNotification/createNotification.module.css
  src/components/Profile/Profile.tsx
  src/components/ui/Stepper/Stepper.tsx
  src/locale/en/profile/index.ts
  src/locale/ru/profile/index.ts
  styles/ui/input.module.css
Labels: user
